<section class="footer">
    <div class="top">
        <a mat-icon-button href="https://facebook.com" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a mat-icon-button href="https://instagram.com" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a mat-icon-button href="https://twitter.com" target="_blank">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    </div>
    <div class="bottom">
        <p>© {{year}} All Rights Reserved By Vladimir Gulev</p>

    </div>
</section>