<div class="container">
    <div class="inner testimonial-slide" [@slideAnimation]="activeIndex">
        <h1 class=" mat-display-1"> {{testimonials[activeIndex].name}} </h1>
        <p> {{testimonials[activeIndex].message}} </p>
    </div>
</div>
<div class="carousel">
    <div class="dots">
        @for (testimonial of testimonials; track $index; let i = $index) {
        <button mat-button class="dot" [class.active]="i === activeIndex" (click)="setActive(i)"> </button>
        }
    </div>
    <div class="buttons">
        <a matButton="filled" color="accent" href="#">Read More</a>
        <a matButton="filled" color="primary" href="#">Contact Us</a>

    </div>
</div>