<section class="navigation">
    <div class="left">
        <a mat-button routerLink="/"><img class="logo" src="images/dog-hill-logo.png" alt="logo"></a>
    </div>
    <div class="right">
        <div class="top">
            <ul class="auth-nav">
                <li><a mat-button class="white-button-theme" routerLink="/users/login">Login</a></li>
                <li><a mat-button class="white-button-theme" routerLink="/users/register">Register</a></li>
                <li><a mat-button class="white-button-theme" routerLink="/users/profile">Profile</a></li>
                <li><a mat-button class="white-button-theme" routerLink="/users/logout">Logout</a></li>
            </ul>
        </div>
        <div class="bottom">
            <ul class="nav">
                <li><a mat-button class="white-button-theme" routerLink="/">Home</a></li>
                <li><a mat-button class="white-button-theme" routerLink="/collection">Collection</a></li>
                <li><a mat-button class="white-button-theme" routerLink="/about-us">About Us</a></li>
                <li><a mat-button class="white-button-theme" routerLink="/learn-more">Learn More</a></li>
            </ul>
        </div>
    </div>
</section>