.white-button-theme,
.white-button-theme .mat-mdc-button-persistent-ripple,
.white-button-theme .mdc-button__ripple {
  border-radius: 5em !important;
}

.white-button-theme {
  color: white !important;
  transition: color 0.3s, background-color 0.3s, transform 0.2s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.white-button-theme:hover {
  background-color: var(--hover-bg);
  color: #03b69b !important;
}
.white-button-theme {
  color: white !important;
  transition: color 0.3s, background-color 0.3s, transform 0.2s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5em;
  &:hover {
    background-color: var(--hover-bg);
    border-radius: 5em;
    color: #03b69b !important;
  }
}
