/* styles.css or styles.scss */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("../public/styles/angular.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --hover-bg: rgba(63, 81, 181, 0.5) !important;
}
html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: black;
}
body {
  min-height: calc(100lvh - 1em);
  padding: 0.5em;
  margin: 0.5em;
  position: relative;
  overflow: hidden;
  border-radius: 3em;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-image: url("/images/dog-background.jpg");
}
